
            #text1{
                color: green;
                background-color: blue;
                font-size: 28px;
            }
            #text2{
                color: red;
                font-size: 20px;
            }
